{% extends 'students/base.html' %}

{% block title %}Add Subject{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 600px;">

    <div class="card shadow">
        <div class="card-header bg-primary text-white text-center">
            <h4>Add Subject</h4>
        </div>

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <div class="d-flex justify-content-between">
                    <button class="btn btn-success">Save</button>
                    <a href="{% url 'subject-list' %}" class="btn btn-secondary">
                        Cancel
                    </a>
                </div>
            </form>
        </div>
    </div>

</div>
{% endblock %}
